<!DOCTYPE html>
<html lang="en">
    <head>
      {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Nearby Hospitals</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg nav-back fixed-top" id="mainNav">
        <a class="navbar-brand" href="../homepage/home.html">HosSearch</a>
      </nav>

      <div class="container" id="hospitals">
        <h1>Nearby Hospitals</h1>
        <h4>Submit your current location by clicking the button below</h4>
        <button type="button" class="main-btn" onclick="getLocation()">Click Here</button>
        <p id="demo"></p>
        <div id="hospitalList"></div>

        <script>
        var x = document.getElementById("demo");

        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
          setTimeout(showHospitals, 3000);
        }

        function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude +
          "<br>Longitude: " + position.coords.longitude;
        }


        function showHospitals() {
          var y = document.getElementById("hospitalList");
          //alert("Hello Ghosh");
          //y.innerHTML = "<ul><li>1</li><li>1</li><li>1</li></ul>"
          y.innerHTML = "{% if hospitals %}<ul>{% for hospital in hospitals %}<li>{{ hospital.name }}: {{hospital.distance}}</li>{% endfor %}</ul>{% endif %}"
          console.log(y.innerHTML);
        }
        </script>

        <!-- <script>
            setTimeout(
              {% if hospitals %}
              <ul>
              {% for hospital in hospitals %}
                  <li>
                  {{ hospital.name }}: {{hospital.distance}}
                  </li>
              {% endfor %}
              </ul>
              {% endif %},
              4000);

        </script> -->


        <h4>These locations as well as others can be searched from the map below</h4>
        <!-- <a class="main-btn" href="https://pee6hh3oycxxksfw.maps.arcgis.com/apps/instant/nearby/index.html?appid=116f42f40cd244f283754009262c49ba">Click Here</a> -->

        <iframe src="https://pee6hh3oycxxksfw.maps.arcgis.com/apps/instant/nearby/index.html?appid=116f42f40cd244f283754009262c49ba" width="1100" height="500" frameborder="0" style="border:0" allowfullscreen>iFrames are not supported on this page.</iframe>
      </div>


      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>
